<center><b><h1>Assignment 3<h1></b></center>
<b>Student Name:</b>Pravinkumar P<br>
<b>Student Roll No:</b> 737819CSR143



---

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**What is 7 to the power of 4?**

In [17]:
7**4

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list.**

In [18]:
s = "Hi there Sam!"

In [19]:
s.split()

['Hi', 'there', 'Sam!']

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.

In [20]:
planet = "Earth"
diameter = 12742

In [21]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

**Given this nested list, use indexing to grab the word "hello"**

In [22]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [23]:
lst[3][1][2]

['hello']

**Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [24]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [25]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

**What is the main difference between a tuple and a list?**

In [26]:
print("List is mutable but Tuple is immutable")

List is mutable but Tuple is immutable

**Create a function that grabs the email website domain from a string in the form:**

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [2]:
def myfun(mail):
  ans = mail.split('@',1)[1]
  return ans

In [3]:
myfun("user@domain.com")

'domain.com'

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [4]:
def myfun(inputString):
  return "dog" in inputString

In [5]:
string = input("Enter a string to test: ")
myfun(string)

Enter a string to test: im pravinkumar

False

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [6]:
def myfun(inputString):
  return inputString.count('dog')

In [7]:
string = input("Enter a string to count: ")
myfun(string)

Enter a string to count: dog

1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.**

In [12]:
def function(speed,times):
  if times:
    speed -= 5
  if speed<61:
    return "No Ticket"
  elif speed<81:
    return "Small Ticket"
  else:
    return "Big Ticket"

In [13]:
function(70,False)

'Small Ticket'

In [14]:
function(43,True)

'No Ticket'

**Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [11]:
n = [45700, 42750, 33400, 56446, 161850, 228740]
total = 0
for i in n:
  total += i
print(total)

568886

**Create two dictionaries in Python:**

**First one to contain fields as Empid,  Empname,  Basicpay**

**Second dictionary to contain fields as DeptName,  DeptId.**

**Combine both dictionaries.**

In [15]:
def myfun(d1,d2):
  v = {**d1, **d2}
  return v

In [16]:
employee = {
    "Empid" : 143,
    "Empname" : "pravin",
    "Basicpay" : 450000
}
department = {
    "DeptName": "computer science",
    "DeptId" : "S09"
}

ans = myfun(employee,department)
print(ans)

{'Empid': 143, 'Empname': 'pravin', 'Basicpay': 450000, 'DeptName': 'computer science', 'DeptId': 'S09'}